//padding x
@mixin p-x($value) {
    padding-left: $value;
    padding-right: $value;
}

//padding y
@mixin p-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}

//margin x
@mixin m-x($value) {
    margin-left: $value;
    margin-right: $value;
}

//margin y
@mixin m-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}

//清除下拉選單的下拉圖示
@mixin clear_select_icon {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

//背景圖不跑版基本設定
@mixin background_image_set {
    background-repeat: no-repeat;
    background-size: cover;
}

//按鈕設計
@mixin btn {
    border-radius: 5px;
    color: $white;
    border: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    @include p-x(30px);
    @include p-y(5px);
    font-size: 20px;
    cursor: pointer;

}

//以下為響應式設定
@mixin tablet {
    @media (max-width:768px) {
        @content;
    }
}

@mixin mobile-L {
    @media (max-width:426px) {
        @content;
    }
}

@mixin mobile-M {
    @media (max-width:376px) {
        @content;
    }
}

@mixin mobile-S {
    @media (max-width:320px) {
        @content;
    }
}