//主內容區塊樣式設計
.main__area {
    background-color: $light_gray;
    padding-top: 150px;

    @include tablet {
        padding-top: 60px;
    }

    //分隔線
    .main__dividerLine {
        position: relative;
        @include m-x(100px);
        border-top: 2px dashed $sky_blue;
        max-height: 1px;

        @include mobile-L {
            @include m-x(55px);
        }

        @include mobile-M {
            @include m-x(45px);
        }

        .fa-sort-down {
            background-color: $white;
            position: absolute;
            left: 48%;
            top: -18px;
            color: $sky_blue;
            font-size: 24px;
            border: 2px solid $sky_blue;
            border-radius: 50%;
            padding: 5px;
            height: 15px;
            line-height: 9px;

            @include mobile-L {
                left: 47%;
            }

            @include mobile-S {
                left: 45%;
            }
        }
    }

    .main__area_title {
        padding-top: 50px;
        text-align: center;
        color: $purple;
    }

    .main__area--noSelect,
    .main__area--noData {
        @include p-y(50px);
        text-align: center;
        color: $purple;
    }

    .main__area--noData {
        display: none;
    }

    .main__card__container {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .main__card {
        width: 32.33333%;
        margin-bottom: 30px;
        margin-right: 1%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);

        @include tablet {
            width: 49%;
        }

        @include mobile-L {
            width: 100%;
        }

        .main__card_header {
            @include background_image_set;
            background-position: center center !important;
            height: 155px;
            position: relative;
        }

        .main__card__location {
            background: linear-gradient(to bottom, transparent, $black) !important;

            display: flex;
            justify-content: space-between;
            color: $white;
            position: absolute;
            bottom: 0;
            width: 100%;

            .main__card__location__title {
                font-size: 22px;
                @include m-y(0);
                line-height: 50px;
                margin-left: 25px;
            }

            .main__card__location__name {
                font-size: 16px;
                margin-right: 25px;
            }
        }

        .main__card_body {
            @include p-x(30px);
            @include p-y(10px);

            @include tablet {
                @include p-x(10px);
            }

            img {
                margin-right: 5px;
            }

            .main__card__body__address {
                margin-bottom: 0;
            }

            .main__card__body__footer {
                display: flex;
                justify-content: space-between;
            }

            .main__card__body__phone {
                margin-left: 3px;
            }
        }
    }

    .goTop {
        position: fixed;
        right: 0px;
        bottom: 180px;

        &:hover {
            opacity: 0.5;
        }
    }

    .main__changePage {
        display: flex;
        justify-content: center;
        font-size: 18px;

        @include mobile-S {
            font-size: 16px;
        }

        ul {
            display: flex;
            list-style: none;
        }

        li {
            margin-right: 20px;
        }

        .current {
            color: $sky_blue;
        }

        .disabled {
            color: $gray;
        }
    }
}