//主內容區塊樣式設計
.main__area {
    background-color: $light_gray;
    padding-top: 150px;

    @include tablet {
        padding-top: 60px;
    }

    //分隔線
    .main__dividerLine {
        position: relative;
        @include m-x(100px);
        border-top: 2px dashed $sky_blue;
        max-height: 1px;

        @include mobile-L {
            @include m-x(55px);
        }

        @include mobile-M {
            @include m-x(45px);
        }

        .fa-sort-down {
            background-color: $white;
            position: absolute;
            left: 48%;
            top: -18px;
            color: $sky_blue;
            font-size: 24px;
            border: 2px solid $sky_blue;
            border-radius: 50%;
            padding: 5px;
            height: 15px;
            line-height: 9px;

            @include mobile-L {
                left: 47%;
            }

            @include mobile-S {
                left: 45%;
            }
        }
    }

    .main__area--noSelect {
        margin: 0;
        @include p-y(100px);
        text-align: center;
    }
}